@import '../../styles/var.less';
.sider-menu {
  border-right: 0;
  width: 100%;
  background-color: transparent;
  border-color: #ddd;
  .ant-menu-submenu {
    &>.ant-menu {
      background-color: transparent;
    }
  }
  .ant-menu-item {
    background-color: transparent;
    user-select: none;
    width: 100% !important;
    &::after {
      right: auto !important;
      left: 0;
      border-color: @color_gray;
    }
    &.ant-menu-item-selected {
      color: @color_gray;
      background-color: fade(lighten(@color_gray, 45), 45);
    }
  }
}

#root.windows {
  .sider-menu {
    .ant-menu-item {
      &.ant-menu-item-selected {
        color: @color_main;
        background-color: @color_background;
      }
    }
  }
}