@import '../../styles/var.less';
.page-pac {
  .pac-list {
    user-select: none;
    &-card {
      background-color: #fff;
      border-radius: 4px;
      padding: @p/2 @p;
      box-shadow: @shadow;
      margin-bottom: @p;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-group {
      .pac-list-item {
        border-top: 1px dashed @color_border;
        padding-top: @p/2;
        margin-top: @p/2;
      }
      .group-title {
        cursor: default;
      }
    }
    &-item {
      .host-list {
        margin-top: @p/2;
        .tag {
          min-width: 30px;
          text-align: center;
        }
      }
      .actions {
        button:not(:last-child) {
          margin-right: @p/2;
        }
      }
      .ant-checkbox-wrapper {
        color: @color_light;
      }
    }
  }
  .action-bar {
    background-color: fade(#fff, 75);
    padding: @p/2 @p;
    box-shadow: @shadow;
    button:not(:last-child) {
      margin-right: @p/2;
    }
  }
  .side-panel {
    width: @width_side;
    .add-btn {
      color: #999fa8;
      border-color: #999fa8;
      margin: 8px 16px;
      width: @width_side - 32px;
    }
  }
}

#root.windows {
  .side-panel {
    border-right: 1px solid @color_border;
    background-color: #fff;
  }
}