@import'../styles/var.less';
html,
body {
  background-color: transparent !important;
}

#root {
  border-radius: 6px;
  height: 100%;
  .main-container {
    padding: @p;
    background-color: #fff;
  }
}

.loopFontSize (@count)when(@count > 9) {
  .fs-@{count} {
    font-size: @count*1px  !important;
  }
  .loopFontSize((@count - 2));
}

.loopFontSize(48);