@import'../styles/var.less';
html,
body {
  background-color: transparent !important;
}

#root {
  border-radius: 6px;
  height: 100%;
  background-color: @color_background;
  &.macos {
    background-color: transparent !important;
  }
  .container {
    background-color: fade(#fafafa, 45);
    &.padding {
      padding: @p;
    }
    &.padding-x {
      padding: 0 @p;
    }
    &.padding-y {
      padding: @p 0;
    }
    &.scroll-y {
      overflow-y: auto;
    }
  }
}

.full-y {
  height: 100%;
}

.full-x {
  width: 100%;
}

.loopFontSize (@count)when(@count > 9) {
  .fs-@{count} {
    font-size: @count*1px  !important;
  }
  .loopFontSize((@count - 2));
}

.loopFontSize(48);
.no-touch {
  user-select: none;
}

.text {
  each(@colors, {
    &-@{key} {
      color: @value;
    }
  }
  );
}

.app-footer {
  background-color: rgba(@color_light, 0.3);
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 @p;
  button {
    margin-right: @p/2;
    &:last-child{
      margin-right: 0;
    }
  }
}