@import'../styles/var.less';
html,
body {
  background-color: transparent !important;
}

#root {
  border-radius: 6px;
  height: 100%;
  .container {
    background-color: fade(#fafafa, 45);
    &.padding {
      padding: @p;
    }
    &.padding-x {
      padding: 0 @p;
    }
    &.padding-y {
      padding: @p 0;
    }
    &.scroll-y {
      overflow-y: auto;
    }
  }
}

.loopFontSize (@count)when(@count > 9) {
  .fs-@{count} {
    font-size: @count*1px  !important;
  }
  .loopFontSize((@count - 2));
}

.loopFontSize(48);
.no-touch {
  user-select: none;
}

.text {
  each(@colors, {
    &-@{key} {
      color: @value;
    }
  }
  );
}