@color_border: #ebebeb;
@color_border_light: #f1f3f5;
@color_background: #f8f9fa;
@color_main: #3699BA;
@color_header: #fff;
@color_yellow: #ffca3a;
@color_green: #8ac926;
@color_red: #f57676;
@color_dark: #3c4859;
@color_default: #495057;
@color_gray: #74839b;
@color_light: #adb5bd;
@colors: {
  main: @color_main;
  red: @color_red;
  gray: @color_gray;
  light: @color_light;
  green: @color_green;
  dark: @color_dark;
  default: @color_default;
  yellow: @color_yellow;
};
@p: 16px;
@width_side: 160px;
@shadow: 0 1px 3px rgba(26, 26, 26, .1);